#Server Configuration
PORT=3000
NODE_ENV=production

# Admin Configuration
ADMIN_PASSWORD=your_admin_password_here

# MongoDB Database
# For local development:
# MONGODB_URI=mongodb://localhost:27017/mkulima

# Session Secret
SESSION_SECRET=your_session_secret_here

# File Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880

# Email Configuration (Nodemailer)
EMAIL_HOST=your_email_host
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password
EMAIL_TO=your_email@example.com